name: _sync_and_build
on:
  workflow_call:
    inputs:
      docker_image:
        description: "Docker image to use"
        type: string
        required: true

      build_matrix:
        description: build matrix containing repos
        type: string
        required: true

      event_name:
        required: false
        type: string
        description: Optional event name to use for building
        default: ${{ github.event_name }}

      pr_ref:
        required: false
        type: string
        description: Optional pull request reference to use for building
        default: ${{ github.event.pull_request.head.ref }}

      pr_repo:
        required: false
        type: string
        description: Optional pull request repository to use for building
        default: ${{ github.event.pull_request.head.repo.full_name }}

      base_ref:
        required: false
        type: string
        description: Optional base reference to use for building
        default: ${{ github.ref_name }}

    outputs:
      s3_location:
        description: "S3 location of uploaded artifacts"
        value: ${{ jobs.build.outputs.s3_location }}

jobs:
  build:
    # If you need the runner group syntax, you can use the block form:
    runs-on:
      group: GHA-SSG-Prd-SelfHosted-RG
      labels: [self-hosted,ssg-prd-u2204-x64-large-od-ephem]
    
    outputs:
      workspace_path: ${{ steps.sync.outputs.workspace_path }}
    steps:
      - name: Checkout infra repo (this repo)
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Pull docker image
        uses: qualcomm/minkipc/.github/actions/pull_docker_image@main
        with:
          image: ${{ inputs.docker_image }}

      - name: Build QCBOR
        id: build_qcbor
        uses: qualcomm/minkipc/.github/actions/build_qcbor@main
        with:
          docker_image: ${{ inputs.docker_image }}
          event_name: ${{ inputs.event_name }}
          
      - name: Build QTEEC
        id: build_qtee
        uses: qualcomm/minkipc/.github/actions/build_quic-teec@main
        with:
          docker_image: ${{ inputs.docker_image }}
          event_name: ${{ inputs.event_name }}
          
      - name: Build MINKIPC
        id: build_minkipc
        uses: qualcomm/minkipc/.github/actions/build_minkipc@main
        with:
          docker_image: ${{ inputs.docker_image }}
          event_name: ${{ inputs.event_name }}
          pr_ref: ${{ inputs.pr_ref }}
          pr_repo: ${{ inputs.pr_repo }}
          base_ref: ${{ inputs.base_ref }}

      - name: Create file list for artifacts upload
        shell: bash
        run: |
          workspace=${{ github.workspace }}
          mkdir -p $workspace/../artifacts
          touch $workspace/../artifacts/file_list.txt
          cd $workspace/MINKIPC_LIBS
          tar -cJf ${{ github.workspace }}/artifacts.tar.xz usr/local
          echo "${{ github.workspace }}/artifacts.tar.xz" >> $workspace/../artifacts/file_list.txt

      - name: Upload artifacts
        id: upload-artifacts
        uses: qualcomm/minkipc/.github/actions/aws_s3_helper@main
        with:
          s3_bucket:  qli-prd-ssg-gh-artifacts
          local_file: ${{ github.workspace }}/../artifacts/file_list.txt
          mode: multi-upload

      - name: Clean up
        run: |
          rm -rf ${{ github.workspace }}/../artifacts

      - name: Update minkipc build summary
        if: success() || failure()
        shell: bash
        run: |
          if [ "${{ job.status }}" == 'success' ]; then
            echo "Build was successful"
            summary=":heavy_check_mark: Build Success"
          else
            echo "Build failed"
            summary=":x: Build Failed"
          fi
          SUMMARY='
          <details><summary><i>Build Summary</i></summary>
          '${summary}'
          </details>
          '
          echo -e "$SUMMARY" >> $GITHUB_STEP_SUMMARY

